
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  font-family: 'Shadows Into Light';
}
a.social {
  margin: 0 1rem;
  /* transition: transform 250ms; */
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
  color: rgb(64, 112, 64);
}
a {
  margin: 0 1rem;
  /* transition: transform 250ms; */
  display: inline-block;
}
a:hover {
  transform: translateY(-1px);
  /* color:  white; */
}
a.github {
  color: #49a1eb;
}
a.facebook {
  color: #4968ad;
}
a.twitter {
  color: #49a1eb;
}
h4, h5 {
  font-style: italic;
  /* color: rgb(151, 122, 41); */
}
.slick-dots {
  color: grey;
}
.lG {
 
    /* background:linear-gradient(to right, rgb(112,101,214), rgb(230,106,213)); */
    background:linear-gradient(to right,white,rgb(135, 135, 187),grey,rgb(158, 167, 77));
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    display: inline;
    /* padding: 5%; */
    /* text-align: center; */
}

