
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
  font-family: 'Shadows Into Light';
}
a.social {
  margin: 0 1rem;
  /* transition: transform 250ms; */
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
  color: rgb(64, 112, 64);
}
a {
  margin: 0 1rem;
  /* transition: transform 250ms; */
  display: inline-block;
}
a:hover {
  transform: translateY(-2px);
  color:  rgb(64, 112, 64);
}
a.github {
  color: #49a1eb;
}
a.facebook {
  color: #4968ad;
}
a.twitter {
  color: #49a1eb;
}
h4, h5 {
  font-style: italic;
  /* color: rgb(151, 122, 41); */
}

